html {
    padding: 0.6em;
    font-family: 'Lucida Grande', Verdana, sans-serif;
    font-size: 24px;
    overscroll-behavior: none
}

ul {
    list-style-type: square;
}

a {
    border-bottom: 1px #0a8f86 solid;
    text-decoration: none;
    cursor: pointer;
    padding: 0.3em
}

a:visited, a:active {
    color: #0a8f86
}

a:hover {
    background-color: #fce85299
}

textarea {
    font-size: 0.7em
}

input {
    font-size: 2em;
    font-family: verdana
}

footer {
    color: #0a8f86;
    font-size: 0.7em;
    margin-top: 5em
}

button {
    background-color: #fce85299;
    font-size: 0.8rem;
    text-decoration: none;
    border: 1px lightgrey solid;
    padding: 0.3em 0.4em
}

button:hover {
    background-color: #0a8f8699
}

